
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMidum: "(min-width: 991px)";
$minLarg: "(min-width: 1200px)";
$colorWhite: #fff;
$colorWhite2: #f2f2f2;
$redColor: #ff4c4c;
$blueColor: #10adfb;
$blueColor2: #414b50;
$blueColor3: #1e272e;
$colorLight: #f8f9fa;
$blckColor: #000;
$grayColor1: #8c9398;
$borderColor: #e4e4e4;
$grayColor: #6a6c6d;
$headingsColor: #292a2b;
$oringColor: #f50;
$quotColor: #505c65;
$colorIcon: #757a7d;
$fColor: #3b5998;
$tColor: #1da1f2;
$drColor: #ea4c89;
$inputColor: #efeeee;
$buttonColor: #1e272e;
$infoColor: #3d3f44;
$socialColor: #5e5e61;
$iconColor: #007bff;
$f7:#f7f7f7;
$blogTitle: #464f56;
$float-l: left;
$float-r: right;
